$black: hsl(0, 0%, 0%);
$white: hsl(255, 100%, 100%);
$cyan: hsl(180, 66%, 49%);
$cyanLight: hsl(180, 66%, 60%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$xdkBlue: hsl(255, 11%, 22%);
$xdkViolet: hsl(260, 8%, 14%);